  .header{
    border-bottom:2px solid;
    margin-bottom:40px;
  }
  
  .header img{
    float:left;
    width:300px;
    height:5%;
  }
  
  .header p{
    float:left;
  }
  
  .footer{
    clear:both;
    
  }
  
  .register{
    text-align:center;
    width:100%;
  }
  .register #left{
    text-align:right;
    float:left;
    width:50%;
  }
  
  .register #right{
    float:left;
    width:50%;
    text-align:left;
  }
  
  .register input{
    border:1px solid darkgray;
    size:40;
    width:300px;
    display:block;
    margin-bottom:20px;
  }
  
  .register input[type=checkbox]{
    display:inline;
    width:20px;
  }
  
  .register input[type=submit]{
    width:70px;
  }
  
  .register label{
    text-align:right;
    display:block;
    margin-bottom:20px;
  }
  
  #right label{
    display:inline;
  }
  
  .register input:hover{
    border-color:blue;
  }