  body{
    width:95%;
    height:100%;
    margin-left:2.5%;
    margin-right:2.5%;
    margin-top:25px;
  }
  .body{
    width:100%;
    height:100%;
  }
  .leftSide{
    float:left;
    width:10%;
    height:100%;
    margin-right:5%;
  }
  .mainBody{
    float:left;
    width:85%;
    height:100%;
  }
  .footer{
    clear:both;
  }
  
  .mainBody .navigator{
    margin-bottom:10px;
  }
  
  .mainBody .navigator ul{
    list-style-type:none;
    margin:0px;
    padding:0px;
    height:26px;
  }
  
  .mainBody .navigator ul li{
    display:inline;
    float:left;
    width:16.5%;
  }
  
  .navigator a:link, .navigator a:visited{
	display:block;
	width:100%;
	font-weight:bold;
	font-size:1.2em;
	color:#FFFFFF;
	background-color:#bebebe;
	text-align:center;
	padding:4px;
	text-decoration:none;
  }
  
  .navigator a:hover ,.navigator a:active{
    background-color:#cc0000;
  }
  
  .leftSide ul{
    list-style-type:none;
    margin:0px;
    padding:0px;
  }
  
  .leftSide .loginfo{
    padding-right:10px;
    height:40px;
  }
  .leftSide .cleanSuggestion{
    padding-right:10px;
    height:45%;
  }
  .leftSide .cleanSuggestion li{
    height:26px;
  }
  
  .leftSide .hotBooks{
    padding-right:10px;
    height:45%;
  }
  .leftSide .hotBooks li{
    height:26px;
  }
  .leftSide .hotBooks label, .leftSide .cleanSuggestion label{
	display:block;
	width:100%;
	font-weight:bold;
	font-size:1.2em;
	color:#FFFFFF;
	background-color:#bebebe;
	text-align:left;
	padding:0px;
	text-decoration:none;
	margin-bottom:10px;
	margin-top:5px;
  }
  
  .bookShow .book{
    float:left;
    width:140px;
    margin:35px;
    margin-top:30px;
    margin-bottom:20px;
  }